body{
    height: auto;
}
.user-fillters, .user-fillters ul, .container{
    margin: 0 auto;
}
.user-fillters ul li, .bottom{
    display: inline-block;
}
.user-fillters li button{
    width: 100px;
    height: 25px;
    outline: none;
    margin: 0 -2px;
    background-color: rgba(9, 64, 96, 1);
    color: white;
    border: none;
}
.filter__uae{
    border-radius: 20px 0 0 20px;
}
.filter__egypt{
    border-radius: 0 20px 20px 0;
}
.container {
    width: 90%;
}
.content {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.right {
    width: 20%;
}
.right img{
    width: 170px;
    height: 170px;
}
.left {
    width: 80%;
    height: auto;
    position: relative;
}
.left h2 {
    margin-top: 5px;
}
.date {
    margin-top: -15px;
}
.bottom button {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 7px 15px;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: white; 
}
.bottom button:hover {
    background-color: rgba(9, 64, 96, 0.8);
}
@media screen and (max-width: 900px) {
    .left {
        font-size: 80%;
        width: 80%;
    }
    .right{
        width: 20%;
    }
    .right img{
        width: 120px;
        height: 120px;
    }
    .left .date {
        margin-top: -12px;
    }
    .bottom button{
        padding: 5px 10px;
    }
}
@media screen and (max-width: 767px) {
    .content {
        width: 80%;
        flex-wrap: wrap;
    }
    .right, .left{
        width: 100%;
    }
    .right img{
        width: 95%;
        height: 150px;
        display: block;
        margin: 0 auto;
    }
    .left h2{
        font-size: 120%;
    }
    .left .middle {
        margin-bottom: 20px;
    }
}
