html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
html, body {
    height: 100%;
    color: rgba(9, 64, 96, 1);
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#map {
    height: 100%;
}
.main__header__h1, .main__footer, html, body {
    padding: 0;
    margin: 0;
}
.main__header{
    padding: 0 30px 10px;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.main__header__a{
    color: rgba(9, 64, 96, 1);
}
.main__header__a:hover,.main__footer i:hover{
    color: #2196f3;
}
.main__header__ul, .main__footer ul{
    list-style: none;
}
.main__header__li, .main__footer li{
    display: inline-block;
    padding: 0 7px;
    font-weight: 600;
}
.main__footer {
    margin-top: auto;
}
.main__footer p{
    text-align: center;
}
.main__footer p, .main__footer ul{
    margin: 6px 0;
}
.main__footer nav{
    width: 200px;
    margin: 0 auto;
}
.main__header img{
    width:150px;
    margin-top: 8px;
}
.main__footer i{
    color: rgba(9, 64, 96, 1);
}
/* my color dark blue for write rgba(9, 64, 96, 1),middle blue rgba(170,201,255, 0.8) ,white rgb(255,255,255), button #2196f3 */
@media screen and (max-width: 900px) {
    .main__header__li{
        padding: 0 3px;
        font-size: 85%;
    }
}
@media screen and (max-width: 767px) {
    .main__header{
        padding: 0 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main__header__li{
        font-size: 70%;
    }
    .main__footer p{
        font-size: 80%;
    }
    .main__header img{
        width:120px;
    }
    .main__header__ul{
        padding-right: 20px;
    }
    .main__header__h1 {
        margin: 5px 30px 0;
        width: auto;
    }
}