html, body {
    height: auto;
}
.container {
    width: 50%;
    padding: 0 0 30px 20px;
    border-radius: 10px;
}
.container, .btn{
    margin: 0 auto;
}
form, label, input, textarea {
    width: 98%;
    max-width: 98%;
}
label {
    margin: 20px;
}
label, input, textarea, .btn {
    display: block;
}
input{
    min-height: 30px;
}
textarea{
    min-height: 70px;
}
input, textarea {
    margin: 10px;
    outline: none;
}
input, textarea, .btn{
    border-radius:10px;
    border: solid 1px rgba(9, 64, 96, 1); 
}
.image {
    border: none;
    border-radius: 0;
    display: inline-block;
    width: auto;
    margin-top: 0;
}
.btn {
    font-size: 150%;
    padding: 7px 10px;
    border: solid 3px  #2196f3; 
    overflow: hidden;
    transition: 0.5s;
    color: white;
    background-color: #2196f3;
}
.btn:hover {
    box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3, 0 0 20px #2196f3;
    transition-delay: 0.2s;
}
@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
    #human .btn, #animal .btn{
        margin: 0 48%;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 0 0 30px;
    }
    #human .btn, #animal .btn{
        padding: 4px 5px;
        font-size: 130%;
        margin: 0 48% 10px 0;
    }
    #human, #animal{
        font-size: 90%;
    }
    .image input{
        margin-top: 10px;
    }
}